body{
    width: 100%;
    font-family: 'Linotte ☞', 'Pier Sans', Arial, Helvetica, sans-serif; 
    background-color: rgb(217, 217, 217);
}

/* Comienza el nav */

nav{
    height: 65px;
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px 10px 15px;
}

nav a{
    margin: 10px 5px 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 27px;
}

nav a:hover{
    border-bottom: thistle solid 1px;
}

nav .enlaces{
    padding: 10px 0px 10px 15px;
}

@media screen and (max-width: 1200px){
    nav{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    nav img{
        width: 400px;
    }

    nav .enlaces{
        display: none;
    }
}

@media screen and (max-width: 768px){
    nav img{
        width: 350px;
    }
}
/* Finaliza el nav */

/* Comienza el header */

header{
    width: 100%;
    height: 390px;
    background: url('../img/FondoHeader.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}

header h1{
    width: 50%;
    margin: 70px 0 0 280px;
    font-size: 45px;
}

header p{
    width: 55%;
    margin: 60px 0 0 280px;
    font-size: 28px;
}

@media screen and (max-width: 1200px){
    header{
        text-align: center;
    }

    header h1{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
    }

    header p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        font-size: 23px;
    }
}

@media screen and (max-width: 480px){
    header h1{
        font-size: 32px;
    }

    header p{
        font-size: 20px;
    }
}

/* Finaliza el header */

/* Comienza el section de servicios */

.servicios{
    width: 100%;
    height:100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.servicios h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 35px;
}

.servicios h3{
    color: white;
    font-size: 26px;
    padding: 0 15px 0 15px;
}

.servicios p{
    color: #B6B7B7;
    font-size: 23px;
    padding: 0 15px 0 15px;
}

.caja1, .caja2, .caja3, .caja4{
    width: 440px;
    height: 390px;
    margin: 15px;
    border-radius: 8px;
    background-color: #4B4F54;   
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.479);
}

.servicios img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Finaliza el section de servicios */



/* Comienza el section de contacto */

.contacto{
    background: yellow;
}

.background-contacto{
    background-color: red;
    height: 80px;
    text-align: center;
}

/* Finaliza el section de contacto */