body{
    width: 100%;
    font-family: 'Linotte ☞', 'Pier Sans', Arial, Helvetica, sans-serif; 
    background-color: rgb(217, 217, 217);
}

/* Comienza el nav */

nav{
    height: 65px;
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px 10px 15px;
}

nav a{
    margin: 10px 5px 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

nav a:hover{
    border-bottom: thistle solid 1px;
}

nav .enlaces{
    padding: 10px 0px 10px 15px;
}

/* Finaliza el nav */

/* Comienza el header */

header{
    width: 100%;
    height: 390px;
    background: url('../img/FondoHeader.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}

header h1{
    width: 50%;
    margin: 70px 0 0 18%;
    font-size: 45px;
}

header p{
    width: 40%;
    margin: 50px 0 25px 18%;
    font-size: 28px;
}

/* Finaliza el header */